.DS_Store
node_modules
db
*.sock
*.map
*.convert.js
*.bak
temp*.*
.idea
/tests/mocha-in-browser/mocha.css
/tests/mocha-in-browser/mocha.js
/tests/mocha-in-browser/runner.html
/tests/mocha-in-browser/string-calculator.js
/tests/mocha-in-browser/string_calculator_spec.js